.idea
*.gz
*.bz2
*.zip
*.mdl
*.wav
*.mp3
*.ogg
*.opus
.idea
*.fst
.*.swp
*.db
__pycache__
pykaldi
pykaldi_dist
recordings/*
mount/database
mount/model
asr/models
asr/model
asr/kaldi
asr/build
asr/decode
asr/__pycache__
sapi/__pycache__
sapi/uploads
sapi/testing
nlp/models/glove
tasks/__pycache__
venv
